(
    global_pbs: {
        "autumn_01": [
            (
                time: 0.007045996,
            ),
            (
                time: 10.342699833999992,
            ),
            (
                time: 23.272306893999982,
            ),
            (
                time: 40.554210734999856,
            ),
            (
                time: 46.61307805599979,
            ),
            (
                time: 59.547944126999965,
            ),
            (
                time: 69.55199713199981,
            ),
            (
                time: 73.95514814899985,
            ),
            (
                time: 89.20139238899976,
            ),
            (
                time: 105.36248004699955,
            ),
            (
                time: 115.79003860399925,
            ),
            (
                time: 125.73788186299927,
            ),
            (
                time: 139.45508683899928,
            ),
            (
                time: 147.93064486199935,
            ),
        ],
        "autumn_short_01": [
            (
                time: 0.007045291,
            ),
            (
                time: 10.280285626999987,
            ),
            (
                time: 17.050842318,
            ),
            (
                time: 22.805508140999983,
            ),
            (
                time: 28.54043733400002,
            ),
            (
                time: 34.416284985000026,
            ),
            (
                time: 42.56737856900002,
            ),
            (
                time: 50.00759199200003,
            ),
            (
                time: 63.084783594999934,
            ),
        ],
        "autumn_02": [
            (
                time: 0.007046458,
            ),
            (
                time: 4.086459963000001,
            ),
            (
                time: 8.737526247999991,
            ),
            (
                time: 15.156108244999997,
            ),
            (
                time: 26.44407823499996,
            ),
            (
                time: 34.847847471,
            ),
            (
                time: 45.09932480700007,
            ),
            (
                time: 51.92586493299996,
            ),
            (
                time: 58.66227088999995,
            ),
            (
                time: 68.65386361599964,
            ),
        ],
        "trail_02": [
            (
                time: 0.007046369,
            ),
            (
                time: 3.898390334000002,
            ),
            (
                time: 7.281499153000002,
            ),
            (
                time: 9.945615569999994,
            ),
            (
                time: 13.771228662999999,
            ),
            (
                time: 17.301012991999965,
            ),
            (
                time: 20.583846851999937,
            ),
            (
                time: 24.30638225199998,
            ),
            (
                time: 27.196452961999977,
            ),
            (
                time: 33.285874486000004,
            ),
            (
                time: 36.65363810900001,
            ),
            (
                time: 40.60640672099994,
            ),
            (
                time: 46.8131750739999,
            ),
            (
                time: 52.44230656399991,
            ),
            (
                time: 56.01412117899988,
            ),
            (
                time: 65.11599940499993,
            ),
            (
                time: 72.37996469799997,
            ),
        ],
        "mixed_terrain_1": [
            (
                time: 0.00700147,
            ),
            (
                time: 2.5928959369999984,
            ),
            (
                time: 4.4952375089999945,
            ),
            (
                time: 7.8275789139999885,
            ),
            (
                time: 11.026315589999996,
            ),
            (
                time: 18.85359305199998,
            ),
            (
                time: 26.392088539000014,
            ),
            (
                time: 31.317537293000058,
            ),
            (
                time: 33.62120376300003,
            ),
            (
                time: 38.65961484299998,
            ),
            (
                time: 44.640726999999984,
            ),
            (
                time: 48.53673360999997,
            ),
            (
                time: 53.01076854099996,
            ),
            (
                time: 56.561497786999986,
            ),
            (
                time: 63.71263566000003,
            ),
            (
                time: 68.12482494600002,
            ),
            (
                time: 73.92307631400011,
            ),
            (
                time: 81.44805684100005,
            ),
            (
                time: 86.78904123100011,
            ),
            (
                time: 91.19950378899996,
            ),
            (
                time: 95.93289216200002,
            ),
            (
                time: 102.53195958399999,
            ),
            (
                time: 109.16213975300002,
            ),
            (
                time: 113.36860364999994,
            ),
            (
                time: 116.23738742100007,
            ),
            (
                time: 119.75271976399996,
            ),
            (
                time: 122.67736158299999,
            ),
            (
                time: 124.65001782399986,
            ),
        ],
        "trail_01": [
            (
                time: 0.00703358,
            ),
            (
                time: 5.011054871999999,
            ),
            (
                time: 10.639608972000014,
            ),
            (
                time: 18.17040270100001,
            ),
            (
                time: 29.921662301000005,
            ),
            (
                time: 35.482039881,
            ),
            (
                time: 41.426803833000086,
            ),
            (
                time: 50.19709341400003,
            ),
            (
                time: 56.071872102999976,
            ),
        ],
    },
    car_pbs: {},
)